.attr-editor {
  display: none;
  position: fixed;
  width: 300px;
  height: 600px;
  overflow: auto;
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  padding: 30px 10px;
  &__scroller {
    height: 100%;
    overflow: auto;
    padding-bottom: 10px;
  }
  &__footer {
    position: absolute;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  &__button {
    height: 25px;
    width: 120px;
    cursor: pointer;
  }
}

.field-wrapper {
  margin-bottom: 20px;
}

.field {
  position: relative;
  display: flex;
  align-items: flex-start;
  &__label {
    width: 60px;
    text-align: right;
    flex-shrink: 0;
    font-size: 14px;
  }
  &__input,
  &__textarea {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #666;
    outline: none;
    font-size: 16px;
  }
  &__textarea {
    resize: none;
  }
  &__box {
    padding: 0 10px;
    margin-left: 10px;
    flex-grow: 1;
  }
  &__desc {
    font-size: 12px;
    color: #999;
    margin-top: 10px;
    label {
      display: flex;
      align-items: center;
      input {
        margin-right: 4px;
      }
    }
  }
}

// 
.relative-select-panel {
  position: fixed;
  display: flex;
  width: 300px;
  height: 150px;
  background-color: #fff;
  box-shadow:  0 4px 4px 0 rgba(0, 0, 0, .2);
  z-index: 9;
  border-radius: 4px;
  display: none;
}
.relative-id-list {
  width: 200px;
  flex-grow: 0;
  height: 100%;
  overflow: auto;
  &__item {
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
    &:hover {
      background-color: #f1f1f1;
    }
    &--active {
      background-color: #f1f1f1;
    }
  }
}
.relative-size-list {
  flex: 1;
  height: 100%;
  overflow: auto;
  &__item {
    width: 100%;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
    &:hover {
      background-color: #f1f1f1;
    }
  }
}